
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="text-align: center;">
    <h2>@ViewData["Title"]</h2>
    <p>Please check your email for a password reset link.</p>
</div>



