
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["ResetPasswordConfirmation"] != null)
{
    <div class="alert alert-success">
        @TempData["ResetPasswordConfirmation"]
    </div>
}

<div style="text-align: center;">
    <h2>@ViewData["Title"]</h2>
    <p>Your password has been successfully reset.</p>
</div>
